// Following styles are only for demo purposes. You can ignore this in your production


// Toggle switches
.toggle-switch-theme-demo {
  .form-group {
    display: inline-block;
    width: 50px;
    margin: 0 20px 10px 0;
  }
}


// Custom Checkbox
.custom-checkbox-demo {
  display: inline-block;
  margin: 10px 20px 10px 0;
  vertical-align: top;
}