<div class="contacts row">
  <div class="col-md-3 col-sm-4 col-6" *ngFor="let contact of contacts">
    <div class="contacts__item">
      <a [routerLink]="" class="contacts__img">
        <img [src]="['./assets/demo/img/contacts/'+contact.img]" alt="">
      </a>

      <div class="contacts__info">
        <strong>{{ contact.name }}</strong>
        <small>cathy.shelton31@example.com</small>
      </div>

      <button class="contacts__btn">Following</button>
    </div>
  </div>
</div>

<a [routerLink]="" class="view-more">Load more..</a>