<header class="content__title">
    <h1>{{ pageTitle }}</h1>
    <small>{{ pageSubTitle }}</small>
</header>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">World</h4>
                <h6 class="card-subtitle">Map: <code>world_en</code></h6>

                <div JqvMap [options]="mapWorld" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Asia</h4>
                <h6 class="card-subtitle">Map: <code>asia_en</code></h6>

                <div JqvMap [options]="mapAsia" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Africa</h4>
                <h6 class="card-subtitle">Map: <code>africa_en</code></h6>

                <div JqvMap [options]="mapAfrica" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Europe</h4>
                <h6 class="card-subtitle">Map: <code>europe_en</code></h6>

                <div JqvMap [options]="mapEurope" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Australia</h4>
                <h6 class="card-subtitle">Map: <code>australia_en</code></h6>

                <div JqvMap [options]="mapAustralia" [height]="300"></div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">North America</h4>
                <h6 class="card-subtitle">Map: <code>north-america_en</code></h6>

                <div JqvMap [options]="mapNorthAmerica" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">South America</h4>
                <h6 class="card-subtitle">Map: <code>south-america_en</code></h6>

                <div JqvMap [options]="mapSouthAmerica" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">USA</h4>
                <h6 class="card-subtitle">Map: <code>usa_en</code></h6>

                <div JqvMap [options]="mapUsa" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Canada</h4>
                <h6 class="card-subtitle">Map: <code>canada_en</code></h6>

                <div JqvMap [options]="mapCanada" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Russia</h4>
                <h6 class="card-subtitle">Map: <code>russia_en</code></h6>

                <div JqvMap [options]="mapRussia" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Germany</h4>
                <h6 class="card-subtitle">Map: <code>germany_en</code></h6>

                <div JqvMap [options]="mapGermany" [height]="300"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">France</h4>
                <h6 class="card-subtitle">Map: <code>france_en</code></h6>

                <div JqvMap [options]="mapFrance" [height]="300"></div>
            </div>
        </div>
    </div>
</div>