<div class="row quick-stats">

    <div *ngFor="let stat of quickStatsData" class="col-sm-6 col-md-3">
        <div [class]="['quick-stats__item bg-'+stat.color]">
            <div class="quick-stats__info">
                <h2>{{ stat.number }}</h2>
                <small>{{ stat.title }}</small>
            </div>

            <div class="quick-stats__chart">
                <x-chartist [type]="type" [data]="stat.chart" [options]="options"> </x-chartist>
            </div>

        </div>
    </div>

</div>
